[Unit]
Description=AdGuard Home
After=syslog.target
After=network.target

[Service]
Type=simple
User={{ adguard_user }}
Group={{ adguard_group }}
WorkingDirectory={{ adguard_path }}
ExecStart={{ adguard_executable }} --host {{ adguard_host }}
Restart=always

[Install]
WantedBy=multi-user.target
